/************ START OF DEFAULT STYLES ************/

  * {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  body {
    background-color: #fff;
  }

/************ END OF DEFAULT STYLES ************/


h1, h2 {
  font-weight: bold;
}

.txtImportant {
  font-weight: bold;
}

.featurette-divider {
    background-color: #000;
    width: 80%;
}


/************ START OF SCREEN RESOLUTION STYLES ************/

@media screen and (min-width: 992px) {
  /* LARGEST */
  h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 991px) {
  /* LARGE TABLET */
  h1 {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  /* MEDIUM TABLET */
  h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 479px) {
  /* PHONE */
  h1 {
    font-size: 3rem;
  }
  .txtImportant {
    font-weight: normal;
  }
}

/************ END OF SCREEN RESOLUTION STYLES ************/


/************ START OF PANELS ************/
/* MAIN */
.panel {
  border: 1px #000 solid;
}
.panel-heading, .panel-body {
  padding: 5px;
}
.panel-heading {
  background-color: #0066ff;
  color: #fff;
}
.panel-body {
  background-color: #fff;
}


.panel-top {
  border: 0px;
  color: #fff;
}
.panel-top .panel-body {
  background-color: #0066ff;
}
.panel-top a {
  color: #fff;
}

.panel-footer {
  border: 0px;
  padding: 5px;
}
.panel-footer img {
  margin-top: 5px;
}




/************ END OF PANELS ************/






/* PrettyPhoto */

.galleryNormal {
  float: left;
  width: 120px;
  height: 75px;
  margin-left: 10px !important;
}
