

body {
  margin-top: 0px;
  padding-top:0px;
  background-image: url("*bg1.jpg");
  background-color: #fff;
}

.navbar {
  border-radius: 0px;
  background-color: red;
  border: 0px #fff solid;
}
.navbar-nav a {
  font-size: 2em;
  font-weight: 500;
}

* {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.panel-top .panel-body {
  background-color: green;
}
.panel-top h1 {
  font-size: 2em;
  font-weight: 900;
}
#mainTitle {
  font-size: 5em;
}
/* START OF PANELS */

.panel-top {
  border: 0px;
}

.panel-title {
	font-weight:bolder;
}

.panel-heading {
    color: #000;
}
.panel-body img, .panel-footer a {
	display: block; margin: 0 auto; /* Centers the image */
}

.panel-heading {
    background-color: #337AB7;
    border-color: #337AB7;
    color: #fff;
}
.panel-primary {
	border-color: #fff;
}
.panel-bronze {
	border-color: #fff;
}
.panel-silver {
  border-color: #fff;
}
.panel-gold {
  border-color: #fff;
}

.panel-body {
  background-color: #222;
  color: #fff;
}

/* END OF PANELS */



a {
  color:#337AB7;
}
a:hover {
  color:#337AB7;
}
